<div class="section__content section__content--p30">
  <div class="container-fluid" style="margin-top: 2%">
    <div class="row">
      <div class="col-lg-12 form-group">
        <h1 id="current_patient">Patient: {{ patient.first_name }} {{ patient.last_name }} </h1>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="custom-tab">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="custom-nav-basicInfo-tab" data-toggle="tab" href="#custom-nav-basicInfo" role="tab" aria-controls="custom-nav-basicInfo"
                     aria-selected="true">Basic Info</a>
                  <a class="nav-item nav-link" id="basic-info-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
                     aria-selected="false">Notes</a>
                  <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact"
                     aria-selected="false">Gestures</a>
                  <a class="nav-item nav-link" id="custom-nav-add-gesture-tab" data-toggle="tab" href="#custom-nav-add-gesture" role="tab" aria-controls="custom-nav-add-gesture"
                     aria-selected="false">Add Gesture</a>
                  <a class="nav-item nav-link" id="custom-nav-statistics-tab" data-toggle="tab" href="#custom-nav-statistics" role="tab" aria-controls="custom-nav-statistics"
                     aria-selected="false">Statistics</a>
                </div>
              </nav>
              <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                <div class="tab-pane fade show active" id="custom-nav-basicInfo" role="tabpanel" aria-labelledby="custom-nav-basicInfo-tab">
                  <div class="row" style="margin-top: 2%">
                    <div class="col-lg-3">
                      <div class="card">
                        <div class="card-body card-block">
                          <div class="mx-auto d-block">
                            <img class="rounded-circle mx-auto d-block" [src]="imagePath">
                            <h5 class="text-sm-center mt-2 mb-1">{{ patient.first_name }} {{ patient.last_name }}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card">
                        <div class="card-body card-block">
                          <form action="" method="post" class="form-horizontal">
                            <div class="row form-group">
                              <div class="col col-md-12">
                                <div class="input-group">
                                  <div class="input-group-addon col-1">
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <input type="text" id="input1-group1" value="{{ patient.first_name }} {{ patient.last_name }}" disabled name="input1-group1" placeholder="Name" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-12">
                                <div class="input-group">
                                  <div class="input-group-addon col-1">
                                    <i class="fa fa-envelope"></i>
                                  </div>
                                  <input type="text" id="input1-group1" value="{{ patient.username }}" disabled name="input1-group1" placeholder="Email" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-12">
                                <div class="input-group">
                                  <div class="input-group-addon col-1">
                                    <i class="fas fa-first-aid"></i>
                                  </div>
                                  <input type="text" id="input1-group1" value="{{ patient.doctor.first_name }} {{ patient.doctor.last_name }}  -  {{ patient.doctor.username }}" disabled name="input1-group1" placeholder="Email" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-12">
                                <div class="input-group">
                                  <div class="input-group-addon col-1">
                                    <i class="fa fa-phone"></i>
                                  </div>
                                  <input type="text" id="input1-group1" value="{{ patient.contact }}" disabled name="input1-group1" placeholder="Contact" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-12">
                                <div class="input-group">
                                  <div class="input-group-addon col-1">
                                    NIF
                                  </div>
                                  <input type="text" id="input1-group1" value="{{ patient.nif }}" disabled name="input1-group1" placeholder="NIF" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-12">
                                <div class="input-group">
                                  <div class="input-group-addon col-1">
                                    <i class="fas fa-birthday-cake"></i>
                                  </div>
                                  <input type="text" id="input1-group1" value="{{ patient.birth_date }}" disabled name="input1-group1" placeholder="Birth Date" class="form-control">
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="custom-nav-add-gesture" role="tabpanel" aria-labelledby="custom-nav-add-gesture-tab">
                  <div class="row" style="margin-top: 2%">
                    <div class="col-lg-12">
                      <div class="card">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="card-body card-block">
                            <div class="card-body card-block row">

                              <div class="row form-group col-lg-4 offset-lg-1 col-md-12 col-sm-12" style="text-align: center">
                                <img class="img-responsive" id="gestureImg" name="gestureImage" src="https://www.bkhhw.nl/wp-content/themes/bkhhw/assets/images/placeholder-logo.jpg" alt="" width="460" height="345">
                                {{ form.gesture_image }}
                                {{ form.decision_tree }}
                              </div>

                              <div class="row form-group col-lg-6 offset-lg-1 col-md-12 col-sm-12">
                                <div class="col-12 col-md-3 col-sm-4 " style="margin-bottom:30px">
                                  {{ form.name.label_tag }}
                                </div>
                                <div class="col-12 col-md-9 col-sm-8" style="margin-bottom:30px">
                                  {{ form.name }}
                                </div>
                                <div class="col-12 col-md-3 col-sm-4" >
                                  {{ form.default_difficulty.label_tag }}
                                </div>
                                <div id="myRange" class="col-12 col-md-7 col-sm-6">
                                  {{ form.default_difficulty }}
                                </div>
                                <div class="col-12 col-md-2 col-sm-2">
                                  <small id="progress_value"></small>
                                </div>

                                <div class="col col-md-3 col-sm-8" style="margin-top:20px">
                                  {{ form.repetitions.label_tag }}
                                </div>
                                <div class="col-12 col-md-9 col-sm-4" style="margin-top:20px;">
                                  {{ form.repetitions }}
                                </div>

                                <div class="offset-sm-3 offset-md-3 col-md-9 col-sm-9" style="padding-left:15px; padding-right:15px;">
                                  <button type="button" class="btn btn-primary  col-12"  style="margin-top:20px;"  data-toggle="modal" data-target="#addGestureModal">
                                    Upload Gesture
                                  </button>
                                </div>

                                <div class="col-md-4 col-sm-4" style="padding-left:15px; padding-right:15px; margin-top:20px">
                                  <button type="button" id="testGestureBtn" onclick="testGesture()" disabled class="btn btn-success  col-12"  style="margin-top:20px;">
                                    Test Gesture
                                  </button>
                                </div>

                                <div class="col-md-4 col-sm-4" style="padding-left:15px; padding-right:15px; margin-top:20px">
                                  <input type="text" id="labelTestGesture" class="form-control" disabled>
                                </div>

                                <div class="col-md-4 col-sm-4" style="padding-left:15px; padding-right:15px; margin-top:20px">
                                  <button type="button" id="stopTestGesture" onclick="stopTesting()" disabled class="btn btn-danger  col-12"  style="margin-top:20px;">
                                    Stop
                                  </button>
                                </div>

                              </div>
                            </div>
                          </div>
                          <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                              <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm" onclick="resetGestureAndTest()">
                              <i class="fa fa-ban"></i> Reset
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                  &nbsp;<div class="col-lg-12">
                  <div class="card">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="card-body card-block">
                        <div class="card-body card-block row">
                          <div class="row form-group col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                            {{ form_notes.notes }}
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                          </button>
                          <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                </div>
                <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                  <div class="row" style="margin-top: 2%">
                    <div *ngFor="let g of patientGestures" class="col-md-3">
                      <div class="card">
                        <div class="card-header" style="text-align: center; background:#8C8C8C; color:#fff">
                          <strong class="card-title mb-3 sm-6">{{ g.name }}</strong>
                        </div>
                        <div class="card-body">
                          <div class="mx-auto d-block">
                            <img class="mx-auto d-block" [src]="getImagePath(g.image)" alt="Card image cap">
                          </div>
                          <hr>
                          <div class="card-text text-md-center">
                            <button type="button"
                                    class="btn btn-sm btn-outline-primary video"
                                    data-toggle="modal" data-target="#gestureStatisticsModal"
                                    (click)="updateGestureStatisticModal(g)" >
                              <i class="fas fa-search-plus"></i> Gesture Statistics
                            </button>
                            <button type="button" class="btn-sm btn-danger"
                                    data-toggle="modal" data-target="#deleteModal"
                                    (click)="loadInfo(g)"
                                    style="margin-top: 10px">
                              Remove
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="custom-nav-statistics" role="tabpanel" aria-labelledby="custom-nav-statistics-tab">
                  <div class="row" style="margin-top: 2%">
                    <div class="col-lg-6">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Games Played</h3>
                          <canvas id="topGamesChart"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="au-card m-b-30">
                        <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Gestures Difficulty</h3>
                          <canvas id="gesturesChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- modal gesture -->
<div class="modal fade" id="gestureStatisticsModal"  role="dialog" aria-labelledby="gestureStatisticsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gestureStatisticsModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body row">
        <div class="col-md-3">
          <div class="card" style="margin-bottom:0px !important">
            <img id="gestureStatisticPic" class="card-img-top" alt="Card image cap">
            <div class="card-text text-sm-center">
              <p id="gestureStatisticsName_card" ></p>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card" style="border:0px; margin-bottom:0px">
            <div class="card-body card-block" style="padding:0px">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-12">
                    <div class="input-group">
                      <div class="input-group-addon col-md-4" style="margin-right:7px">
                        <i class="fa fa-user"></i> Name
                      </div>
                      <input type="text" id="gestureStatisticsName" name="input1-group1" value="" disabled class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-12">
                    <div class="input-group">
                      <div class="input-group-addon  col-md-4" style="margin-right:7px">
                        <i class="far fa-chart-bar"></i> Default Difficulty
                      </div>
                      <div class="progress" style="width:65%; height: auto; margin-bottom: 0px;">
                        <div id="gestureStatisticsDefaultDifficulty" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style=""
                             aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-12">
                    <div class="input-group">
                      <div class="input-group-addon" style="margin-right:7px; width:33%">
                        <i class="fas fa-flag"></i> Repetitions
                      </div>
                      <input id="gestureStatisticsRepetitions" type="text" disabled name="input1-group1" value="" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-12">
                    <div class="input-group">
                      <div class="input-group-addon  col-md-4" style="margin-right:7px">
                        <i class="fas fa-user"></i> User Difficulty
                      </div>
                      <div class="progress" style="width:65%; height: auto; margin-bottom: 0px;">
                        <div id="gestureStatisticsUserDifficulty"class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style=""
                             aria-valuemin="0" aria-valuemax="100">50%</div>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
      -->
    </div>
  </div>
</div>
<!-- end gesture large -->



<!-- modal add gesture -->
<div class="modal fade" id="addGestureModal" tabindex="-1" role="dialog" aria-labelledby="addGestureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGestureModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div id="recognition_content" style="text-align: center">
          <div id="canvas_div" style="min-height: 450px">
          </div>
          <p id="gesture_name" style="diplay:none"></p>

          <button type="button" class="btn btn-success col-lg-5" id="right_gesture_btn" onclick="collectRightGestures()">Start Collecting Right Gestures</button>
          <button type="button" class="btn btn-danger col-lg-5" id="random_gesture_btn" disabled onclick="collectRandomGestures()">Start Collecting Random Gestures</button>
          <div id="right_status_bars"></div>
          <div id="random_status_bars"></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="resetModal()">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" disabled id="confirmGesture" onclick="updateGestureImg()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<!-- end gesture large -->


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to remove: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form (ngSubmit)="removeGesture()">

        <div class="modal-body">

          <div class="row form-group">

            <div class="col-md-4 offset-md-4">
              <div class="card" style="margin-bottom:0px !important">
                <img id="gestureRemovePic" class="card-img-top" alt="Card image cap">
                <div class="card-text text-sm-center">
                  <p id="gestureStatisticsName_card" ></p>
                </div>
              </div>
            </div>

            <div class="input-group" style="margin-top: 10px">
              <div class="input-group-addon col-lg-3 offset-lg-1">
                <i class="far fa-hand-paper"></i> Gesture Name
              </div>
              <div class="input-group-addon col-lg-7" >
                <input type="text" name="removeName" [(ngModel)]="removeName">
              </div>
            </div>

            <div class="input-group" style="margin-top: 10px">
              <div class="input-group-addon col-lg-3 offset-lg-1">
                <i class="fas fa-envelope-square"></i> Patient Email
              </div>
              <div class="input-group-addon col-lg-7" >
                <input type="text" name="removeUsername" [(ngModel)]="removeUsername">
              </div>
            </div>


          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Remove</button>
        </div>

      </form>
    </div>
  </div>
</div>
